* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
  
  font-family: sans-serif; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Oswald', sans-serif; 
  
  font-size: 4rem;
  margin-bottom: 1rem;
  
  text-transform: uppercase; 
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 300;
}
