* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
  
  font-family: sans-serif; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Oswald', sans-serif; 
  
  font-size: 4rem;
  margin-bottom: 1rem;
  
  text-transform: uppercase; 
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 300;
}
/*PANTALLA DE CARGA XD*/ 
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020617; /* Mismo color oscuro de tu fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de todo */
    transition: opacity 0.5s ease, visibility 0.5s;
}

/* La ruedita girando */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Borde gris transparente */
    border-top: 5px solid #ffffff; /* Parte blanca que gira */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* La animación de giro */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Clase para ocultar suavemente */
.hidden {
    opacity: 0;
    visibility: hidden;
}
